<b>Hi <%= User %>,</b>
</br>
<p>Your order is successfully placed.</p>
</br>
<h3><u><p>Order Details</p></u></h3>
</br>
<h3>Order Id : <%= Order %></h3>
</br>
<p>Items : <%= Items %></b></p>
</br>
<p>Thank You.</p>