<b>Hi <%= User %>,</b>
</br>
<p>Reminder from Bay Leaf to pickup your order.</p>
</br>
<p>Please pick your order in next 10 minutes. Please ask for the below order number while pickup,</p>
<h1><b><%= Order %></b></h1>
</br>
<p>Thank You.</p>